.container, .container_2{
    margin: 0 auto;
    padding: 50px;
}

h2{
    padding: 10px;
}

.fondo{
    width: 800px;
    height: 650px;
    border: 2px solid black;
    background-color: #BABABA;
    padding: 10px;
}

.tabla{
    width: 500px;
    height: 250px;
    border: 2px solid black;
}



